/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--zo-dark);
}
header {
  height: 6.25rem;
}
footer {
  padding-top: 1.25rem;
  background-color: var(--zo-footer);
  height: 7.5rem;
}

/* end global */

/* utility */
:root {
  --zo-footer: #222222;
  --zo-dark: #000000;
  --zo-light: #ffffff;
  --zo-light-dark: #4a4a4a;
  --zo-btn-text: #f42734;
  --zo-icon: #4bc800;
  --zo-shadow: #65727c;
}
.container {
  width: 118.75rem;
  margin: 0 auto;
}
.d_flex {
  display: flex;
  flex-wrap: wrap;
}
.justify_content {
  justify-content: center;
}
.align_items {
  align-items: center;
}
.mrg_botton {
  margin-bottom: 1.25rem;
}

.absolute {
  position: absolute;
  top: 14px;
  right: 0;
}
/* end utility */
/* debug */
.debug header div {
  background-color: var(--zo-light);
  height: 3.625rem;
  width: 3.9375rem;
}
.debug .d_flex > div {
  background-color: var(--zo-light);
}

/* end debug */

/* header */
header div {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
header a {
  text-decoration: none;

  color: var(--zo-light);
}
.link {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.75rem;
  background-color: var(--zo-light-dark);
}
/* end header */
/* main */
.d_flex > div {
  position: relative;
  margin: 0.3125rem;
}

.scroll {
  height: 800px;
  overflow-y: scroll;
}
h2 {
  font-weight: 100;
  font-size: 1.25rem;
  color: var(--zo-light);
}
.name {
  padding: 0.3125rem;
  position: absolute;
  left: 0;
  bottom: 0.1875rem;
  background-color: var(--zo-shadow);
}
/* end main */
/* footer */
h3 {
  color: var(--zo-light);
  font-size: 1.25rem;
  padding-top: 1.125rem;
}
.pd_left {
  padding-left: 0.5rem;
}
.pd_left_2 {
  padding-left: 1.5rem;
}
